main {
  padding: 5% 15%;
  display: grid;
  gap: 3.5em;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  overflow-y: scroll;

  @media screen and (max-width: 799px) {
    grid-template-columns: 1fr;
  }

  .card {
    background-color: #ffffffdd;
    border-radius: 5px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 2em;
    box-shadow: 1px 1px 10px 1px #25252580;

    .image {
      border-radius: 50%;
      position: relative;
      top: -4em;
      width: 7vw;
      height: 7vw;
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: cover;
      overflow: hidden;
      box-shadow: 1px 1px 10px 1px #25252580;
      background-color: #fff;

      @media screen and (max-width: 799px) {
        width: 30vw;
        height: 30vw;
        top: -3em;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .name {
      font-size: 2em;
      color: #252525;
    }

    .description {
      font-size: 1.2em;
      color: #252525;
      margin-block: .5em;
    }

    .votes {
      font-size: 1.5em;
      margin-block: .5em;
      color: #08a327;
    }
  }
}
